@font-face {
  font-family: 'CCD';
  src: local('CCD'),
    url('../../fonts/GTWalsheimPro-Light.ttf') format('truetype');
}
.App {
  font-family: CCD;
  text-align: center;
  margin: 341px auto;
}

.opened {
  display: block;
}

.closed {
  display: none;
}